* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 25px;
}
h2 {
  font-size: 19px;
}
pre {
  white-space: pre-line;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #d1d3e2;
  border-radius: 4px;
  overflow-x: auto;
  margin: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
  margin-bottom: 20px;
  list-style-position: inside;
}

.donate {
  background-color: #ffcd33;
  color: #313132;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  line-height: 35px;
}

@media (max-width: 550px) {
  h1 {
    font-size: 18.46px;
  }
  h2 {
    font-size: 14.61px;
  }
  p {
    font-size: 12.3px;
  }
  .donate {
    line-height: 25px;
  }
  ul{
    font-size: 12.3px;
  }
}
